/*
- [ ] UI/UX considerations (how are we going to use this)

nice contrasting color pallet
a form that doenst look like its from a circa 2001 webpage


advanced content
state changing styling
*/

/*
	FLEXBOX CONTAINER
	guide: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
body{
	display: flex;
	justify-content: center;
	text-decoration-color:  red;
	background-image: url("https://media.newyorker.com/photos/5babed9459f95b2ce7bece4f/master/w_727,c_limit/Crouch-Dunkin-Donuts.jpg");
    background-size: 80%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color: pink
}



.container {
	display: flex;
}

/*
	TABLE STYLING 
*/
table {
	color: gray
	width: 600px;
	margin-left: 30px;
}

table,
td {
    border: 1px solid #333;
    color: red
}

thead,
tfoot {
    background-color: #333;
    color: red;
}

/*
	FORM STYLING 
	TODO: validation checking styling 
*/
form.form {
}

div.form {
}

label, input {
    margin-bottom: 10px;
    width: 125px;
}

label {
	display: inline-block;
    padding-right: 10px;
    width: 80px;
    color: red

}




button.button {
	margin-right: 20px;
}